* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Amatic SC', cursive;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hero Section */
#hero {
    background-image: url(../images/caminoshell2.jpeg);
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: 1;
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .3;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 12rem;
    position: relative;
    padding-left: 100px;
    color: transparent;
    animation: text_reveal 1s ease forwards;
    animation-delay: 1.5s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #FFA000;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

#hero .cta {
    display: inline-block;
    padding: 10px 30px;
    color: #FFA000;
    background-color: transparent;
    border: 2px solid #FFA000;
    border-radius: 25px 0 25px 0;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 10px;
    transition: .5s ease;
    transition-property: background-color, color;
    float: right; 
}

#hero .cta:hover {
    color: whitesmoke;
    background-color: #FFA000;
}
/* End Hero Section */

/* Routes Section */
#routes{}
#routes .route {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#routes .section-title {
    font-size: 8rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#routes .section-title span {
    color: #FFA000;
}

#routes .route-top p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
/* End Routes Section */

/* Keyframes */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0%;
    }
    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100% {
        color: whitesmoke;
    }
}
/* End Keyframes */