* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Amatic SC', cursive;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    text-align: left;
    font-size: 2rem;
    line-height: 2.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.section-title {
    font-size: 8rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span {
    color: #FFA000;
}

.brand h1 {
    font-size: 6rem;
    text-transform: uppercase;
    color: black;
}

.brand h1 span {
    color: #FFA000;
}

/* Hero Section */
#hero {
    background-image: url(../images/caminoshell2.jpeg);
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: 1;
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .3;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 12rem;
    position: relative;
    padding-left: 100px;
    color: transparent;
    animation: text_reveal 1s ease forwards;
    animation-delay: 1.5s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #FFA000;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

#hero .cta {
    /* display: inline-block; */
    padding: 10px 30px;
    color: #FFA000;
    background-color: transparent;
    border: 2px solid #FFA000;
    border-radius: 25px 0 25px 0;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 10px;
    transition: .5s ease;
    transition-property: background-color, color;
    float: right; 
}

#hero .cta:hover {
    color: whitesmoke;
    background-color: #FFA000;
}
/* End Hero Section */

/* Routes Section */
#routes .route {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#routes .route-top p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    margin: 20px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

#routes .route-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#routes .route-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(../images/caminohero.jpeg);
    background-position: 70%;
    background-size:cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#routes .route-item::after {
    content:'';
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #E8F6F3 0%, #F2F3F4 100%);
    opacity: .8;
    z-index: -1;
}

#routes .route-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
    
}

#routes .route-item h2 {
    font-size: 4rem;
    color: #FFA000;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#routes .route-item p {
    text-align: left;
}

/* End Routes Section */

/* Buen Camino Section */
#advice {
    background-color: #EAF2F8;
}
#advice .pointers .section-p {
    width: auto 0;
}
#advice .pointers {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#advice .pointers-header h1 {
    margin-bottom: 50px;
}

#advice .all-pointers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#advice .pointers-item {
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#advice .pointers-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #A9CCE3 0%, #F2F3F4 100%);
    color: #E8F6F3;
}

#advice .pointers-info h1 {
    font-size: 6rem;
    font-weight: 500;
    color: #FFA000;
}

#advice .pointers-info h2 {
    font-size: 3rem;
    font-weight: 300;
    margin: 5px;
    color: black;
}

#advice .pointers-info p {
    color: black;

}

#advice .pointers-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#advice .pointers-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #A9CCE3 0%, #F2F3F4 100%);
    opacity: 0.3;
}
#advice .pointers-img img {
    transition: 0.7s ease transform;
}
#advice .pointers-item:hover .pointers-img img{
    transform: scale(1.1);
}
/* End Buen Camino Section */

/* Contact Section */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    
}

#contact .contact-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
       

#contact .contact-list {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 50px 0 #0000002c;
    transition: 0.7s ease box-shadow;
    background-image: linear-gradient(60deg, #FFA000 0%, #FDEBD0 100%);
}
#contact .contact-list:hover {
    box-shadow: 0px 0px 20px 0 #0000002c;
}
#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2 {
    font-size: 3rem;
    line-height: 6rem;
    font-weight: 500;
}

/* End Contact Section */

 /* Form Section */
 #form,
 #form::before,
 #form::after {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Amatic SC', cursive;
     font-weight: 500;
 }

 #form {
     height: 140vh;
     background: linear-gradient(60deg, #FFA000 0%, #FDEBD0 100%);
    
 }

 .touch {
     background-color: white;
     width: 100%;
     min-width: 420px;
     padding: 35px 50px;
     transform: translate(-50%, -50%);
     position: relative;
     left: 50%;
     top: 50%;
     border-radius: 10px;
     box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
     
     
 }

 #interact {
    font-size: 8rem;
    text-align: center;
    color: black;
 }

 #label {
    font-size: 4rem;
 }

 #message {
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #5D6D7E;
    font-size: 14px;
    font-weight: 400;
 }

 form {
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
 }

 .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
 }

 label {
    color: #FFA000;
    font-size: 6rem;
 }

 textarea,
 input {
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 2px solid #E8F6F3;
    margin-top: 5px;
 }

 textarea {
    resize: none;
 }

 textarea:focus,
 input:focus {
    outline: none;
    border-color: #FFA000;
 } 

 button {
    border: none;
    padding: 10px 20px;
    background: linear-gradient(60deg, #FFA000 0%, #FDEBD0 100%);
    color: white;
    border-radius: 3px;
 }
 /* End Form Section */

/* Footer */
    #footer {
        background-image: linear-gradient(60deg, #A9CCE3 0%, #F2F3F4 100%);
    }

    #footer .footer {
        min-height: 200px;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 10px;
    }

    #footer h2 {
        color: #FFA000;
        font-weight: 700;
        font-size: 4rem;
        letter-spacing: 1rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #footer .social-icon {
        display: flex;
        margin-bottom: 30px;
        color: #FFA000;
    }

    #footer .social-item {
        height: 40px;
        width: 40px;
        margin: 0 50px;
        color: #FFA000;
    }
    
    #footer .social-item img {
        transition: 0.5s ease transform;
    }

    #footer .social-item:hover img {
        transform: scale(1.5);
     }

     #footer p {
        font-size: 1.3rem;
     }


/* End Footer */

/* Keyframes */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0%;
    }
    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100% {
        color: whitesmoke;
    }
}
/* End Keyframes */

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width:390px) and (max-width: 600px)
{
   /* Hero Section */

    #hero {
          background-position: center center;
          max-width: 100%;
          }

    #hero h1 
         {
        font-size: 6rem;
        width: fit-content;   
        }

    #hero .cta {
        display: inline-block;
        padding: 10px 30px;
    }
    /* End Hero Section */ 

    /* Form Section */

    .touch {
        max-width: 770px;
        max-height: 100%;
        transform: translate(-50%, -50%);
        position: relative;
        left: 50%;
        top: 50%;
        border-radius: 10px;
        box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15)
    }
    /* End Form Section */

    /* Buen Camino Section */

    #advice .section-p {
        padding: 30px;

    }
    /* End Buen Camino Section */

    /* Footer Section */
    #footer h2 {
        font-size: 3rem;
        letter-spacing: normal;
    }
    /* End Footer Section */
}



/* Media Query for Tablet */
@media only screen and (min-width:600px) and (max-width:1200px) 
{
   #hero .cta {
        font-size: 5rem;
        padding: 10px 30px;
    }

    h1.section-title {
        font-size: 7rem;
    }
    /* Hero */
    #hero h1 {
        font-size: 12rem;
    }
    #hero {
       max-width: 992px;
       
      
    }
     /* End Hero */

    /* Buen Camino Section */
    #advice .section-p{
       font-size: 20px;
       padding: 30px;
       text-align: center;
    }
    }
    